* { 
    box-sizing: border-box; 
}

body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Verdana, Arial, san-serif;
    background-image: url("pacific6/background.jpg");
}

main {
    display: block;
    background-color: #FFFFFF;
    margin-left: 170px;
    padding-top: 1px;
    padding-bottom: 1px;
}

header {
    background-color: #000033;
    color: #FFFFFF;
    font-family: Georgia, serif;
}

h1 {   
    background-color: #000033;
    color: #FFFFFF;
    font-family: Georgia, serif;
    line-height: 200%;
    background-image: url("pacific6/sunset.jpg");
    background-repeat: no-repeat;
    background-position: right;
    height: 72px;
    margin-bottom: 0;
}

h3 {
    color: #000033;   
}

nav {
    font-weight: bold;
    padding: 20px 5px 0px 20px;
    float: left;
    width: 160px;
}

nav a { 
    text-decoration: none; 
}

nav a:link {
    color: #000033; 
}

nav a:visited { 
    color: #344873; 
}

nav a:hover { 
    color: #FFFFFF; 
}

nav ul {
    list-style-type:none;
    padding: 0px; 
    margin: 0px;
}

h2 {
    color: #3399CC;
    font-family: Georgia, serif;   
}

dt {
    color: #000033;
    font-weight: bold;
}

.resort {
    color: #000033;
    font-size: 1.2em;
}

footer {
    font-size: 0.7em;
    font-style: italic;
    text-align: center;
    padding: 10px;
    margin-left: 170px;
    background-color: #FFFFFF;
}

header, nav, main, footer { 
    display: block; 
}

#wrapper {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: #90C7E3;
  min-width: 720px;
  max-width: 1024px;
  box-shadow: 3px 3px;
}

#homehero {
    height: 300px;
    background-image: url(pacific6/coast.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;
}

#yurthero {
    height: 300px;
    background-image: url(pacific6/yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;
}

#trailhero {
    height: 300px;
    background-image: url(pacific6/trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;
}
