* { 
    box-sizing: border-box; 
}

body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Verdana, Arial, san-serif;
    background-image: none;
    margin: 0px;
    pdding: 0px;
}

main {
    display: block;
    background-color: #FFFFFF;
    margin-left: 0px;
    padding: 1em;
    font-size: 90%;
}

header {
    background-color: #000033;
    color: #FFFFFF;
    font-family: Georgia, serif;
}

h1 {   
    background-color: #000033;
    color: #FFFFFF;
    font-family: Georgia, serif;
    line-height: 200%;
    background-image: url("pacific7/sunset.jpg");
    background-repeat: no-repeat;
    background-position: right;
    height: 72px;
    margin: 0px;
}

h3 {
    color: #000033;   
}

nav {
    font-weight: bold;
    padding: 0.5em;
    float: none;
    width: auto;
}

nav a { 
    text-decoration: none; 
    padding: 1em;
}

nav a:link {
    color: #000033; 
}

nav a:visited { 
    color: #344873; 
}

nav a:hover { 
    color: #FFFFFF; 
}

nav ul {
    list-style-type:none;
    padding: 0px; 
    margin: 0px;
}

nav li {
    display: inline-block;
}

h2 {
    color: #3399CC;
    font-family: Georgia, serif;   
}

dt {
    color: #000033;
    font-weight: bold;
}

.resort {
    color: #000033;
    font-size: 1.2em;
}

footer {
    font-size: 0.7em;
    font-style: italic;
    text-align: center;
    padding: 10px;
    margin-left: 170px;
    background-color: #FFFFFF;
}

header, nav, main, footer { 
    display: block; 
}

#wrapper {
  width: auto;
  margin: 0px;
  background-color: #90C7E3;
  min-width: 0px;
  max-width: 1024px;
  box-shadow: none;
}

#homehero {
    height: 300px;
    background-image: url(pacific7/coast.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 0px;
}

#yurthero {
    height: 300px;
    background-image: url(pacific7/yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 0px;
}

#trailhero {
    height: 300px;
    background-image: url(pacific7/trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 0px;
}

@media only screen and (max-width: 1024px) 
{
}

#mobile { display: none; }
#desktop { display: inline; }
